<template>
    <main>
        <div v-if="getCurrentQuestion"> <!-- Only renders if the http request has completed -->
            <!-- Question # of # -->
            <h4 class="mt-5">
                Question {{questionNumber+1}} of {{questions.length}}
            </h4>
            <!-- Category -->
            <div class="text-center">
                Category: <strong>{{getCurrentQuestion.category}}</strong>
            </div>
            <!-- Question -->
            <div class="text-center mb-4 mt-3">
                {{ (getCurrentQuestion.question) }}
            </div>
            <!-- Answers -->
            <div v-if="getCurrentAnswers">
                <button class="btn btn-outline-primary d-md-block mx-auto col-8 mb-1" @click="onAnswerClick" v-for="answer in getCurrentAnswers" :value="answer" :key="answer">
                    {{answer}}
                </button>
            </div>
        </div>

        <!-- Here I experimented with importing another component into this component -->
        <!-- <Question/> -->
    </main>
</template>

<script>
import { mapState, mapActions, mapGetters, mapMutations } from 'vuex'

// Here I experimented with importing another component into this component
// import Question from './Question.vue'

export default {
    name: 'QuestionsScreen',
    // Here I experimented with importing another component into this component
    // components: { Question },
    data() {
        return {
        }
    },
    methods: {
        ...mapActions([ 'fetchQuestions', 'addUserAnswers' ]),
        ...mapMutations([ 'setScore', 'setQuestionNumber', 'setUserAnswers']),
        onAnswerClick(event) {
            
            // Object is added to the userAnswers state with the addUserAnswers action. Data is used in the ResultsScreen.vue component to display the users answers.
            const currentAnswered = {
                    question: this.getCurrentQuestion.question,
                    answered: event.target.value,
                    correctAnswer: this.getCurrentQuestion.correct_answer,
                    id: this.questionNumber
                }
            this.addUserAnswers(currentAnswered)

            // Adds 10 to the score if the answer is correct.
            if (event.target.value === this.getCurrentQuestion.correct_answer) {
                this.setScore((this.score + 10)); 
            }
            // Increments the questionNumber state.
            this.setQuestionNumber(this.questionNumber + 1);

            // Navigates to the ResultsScreen component if all questions are answered.
            if (this.questionNumber === (this.questions).length) {
                this.$router.push('/results');
            }
        }
    },
    computed: {
        ...mapState([ 'error', 'questions', 'questionNumber', 'score', 'userAnswers']),
        ...mapGetters([ 'getCurrentQuestion', 'getCurrentAnswers' ])
    }
}
</script>