// Experimentation component: I experimented with importing this component into another component

<template>
    <main>
        <p>Hello from the 'Question' Component</p>
    </main>
</template>

<script>

export default {
    name: "Question",
    data() {
        return {

        }}
}
</script>
