<template>
    <main>
        <!-- User score / max score -->
        <h4 class="mt-5 mb-4">
            Score {{score}} / {{questions.length*10}}
        </h4>
        <!-- Play again button. Calls onPlayAgain method which navigates to the StartScreen component -->
        <button class="btn btn-primary btn-lg mb-5 mt-5 d-md-block mx-auto" @click="onPlayAgain">
            PLAY AGAIN
        </button>
        <div class="mt-4 mb-4 ms-4" v-for="x in userAnswers" :key="x.id">
            Question {{x.id+1}}: {{x.question}} <br>
            You answered: <span><strong>{{x.answered}}</strong></span> <br>
            The correct answer: <span class="text-success"><strong>{{x.correctAnswer}}</strong></span>
        </div>
        
    </main>
</template>


<script>
import { mapState } from 'vuex'

export default {
    data() {
        return {
        }
    },
    computed: {
        ...mapState([ 'score', 'userAnswers', 'questions'])
    },
    methods: {

        // Navigates to the StartScreen component.
        onPlayAgain() {
            this.$router.push('/');

        }
    }

}
</script>

