<template>
    <main class="container col-md-8">
        <h2 class=" mt-5 mb-3">Trivia Game</h2>
        <form @submit.prevent="onStartGameClick"> <!-- calls onStartGameClick method when form is submitted. '.prevent' prevents the page from reloading --> 

            <!-- Difficulty  selection --> 
            <fieldset class="mb-3">
                <label class="form-label">Difficulty</label>
                <select class="form-select" v-model="configurations.difficulty">
                    <option value="0">Any</option>
                    <option value="easy">Easy</option>
                    <option value="medium">Medium</option>
				<option value="hard">Hard</option>
                </select>
            </fieldset>

            <!-- Category selection -->
            <fieldset class="mb-3">
                <label class="form-label">Category</label>
                <select class="form-select" v-model="configurations.category">
                    <option value="0">
                        Any
                    </option>
                    <option v-for="category in categories" :value="category.id" :key="category.id">
                        {{ category.name }}
                    </option>
                </select>
            </fieldset >

            <!-- Number og questions -->
            <fieldset class="mb-3">
                <label class="form-label">Number of Questions</label>
                <input class="form-control" type="number" value="10" min="1" max="50" v-model="configurations.numberOfQuestions">
            </fieldset>
            
            <!-- Submits form -->
            <button type=submit class="btn btn-primary d-md-block mx-auto btn-lg mt-5">START GAME</button>
        </form>
    </main>
</template>

<script>
import { mapActions, mapMutations, mapState } from 'vuex'

export default {
    name: 'StartScreen',
    data() {
        return {
            configurations: {
                numberOfQuestions: '10',
                category: '0', // If category = 0, the category on any given question is randomised
                difficulty: '0' // If difficulty = 0, the difficulty on any given question is randomised 
            }
        }
    },
    computed: {
        ...mapState([ 'error', 'categories'])
        
    },
    methods: {
        ...mapActions([ 'fetchCategories', 'fetchQuestions' ]),
        ...mapMutations([ 'setConfigurations' ]),
        onStartGameClick() {
            if (!this.error) {
                this.setConfigurations(this.configurations);
                this.$router.push('/questions');
                this.fetchQuestions();
            }
        }
    },
    created() {
        this.fetchCategories();
    },
}
</script>

